<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Company</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="js/Cookies.js"></script>
    <script src="js/company.js"></script>
  </head>
  <body>
      <div>
	      	<p> 
	      	    <b>Comany Name: </b> <%= companyName %>
	        </p>
	      	<p>
	      		<b>Address: </b> <%= address %>
	      	</p>
	      	<p>
	      		<b>Active Views</b> <%= activeUsers %>
	      	</p>
	      	<p>
	      		<b>Total Views</b> <%= totalUsers %>
	      	</p>
      </div>
  </body>
</html>