<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="js/Cookies.js"></script>
    <script src="js/home.js"></script>
  </head>
  <body>
      <div>
	      	<p> 
	      	    <b>Name: </b> <%= name %>
	        </p>
	      	<p>
	      		<b>Job Role: </b> <%= jobRole %>
	      	</p>
	      	<p>
	      		<b>Company Name</b> <a href="/company"> <%= companyName %> </a>
	      	</p>
      </div>
  </body>
</html>