<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="js/login.js"></script>
    <script src="js/Cookies.js"></script>
  </head>
  <body>
      <div style="display: none;" id="form">
        <form id="login">
  		  	<fieldset>
  		        <legend>Log In</legend>
  		        <label>Username: <input type="text" name="username"></label>
  		        <label>Password: <input type="password" name="password"></label>
  		        <button id="submit">Submit</button>
  		    </fieldset>
        </form>
      </div>
      <p style="display: none;" id="errorMessage">Incorrect name or password</p>
  </body>
</html>